body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 
.cell {
  box-sizing: content-box;
  background-image: url('./images/empty.svg');
  border: 0;
  padding: 0;
}

.cell-available {
  cursor: crosshair;
}

.cell-done {
  cursor: default;
} 

.cell0 {
  background-image: url('./images/0.svg');
}

.cell1 {
  background-image: url('./images/1.svg')
}

header {
  background-color: #c9cccf;
  box-sizing: content-box;
  align-content: center;
}

.header-text {
  align-items: center;
}

#cap0, #cap1, #toplay, #winner {
  text-align: center;
}

#board {
  justify-self: center;
}

.border-left-edge {
  border-left:1vh solid black;
}
.border-bottom-edge {
  border-bottom:1vh solid black;
}
.border-right-edge {
  border-right:1vh solid black;
}
.border-top-edge {
  border-top:1vh solid black;
}

/* .css-fix {
  white-space: pre-wrap; 
} */